<% layout("layouts/boilerplate") %>


<style>
    #filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.6;
    }
    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter p {
        font-style: italic;
        font-size: 1rem;
    }
     .tax-info {
        display: none;
     }
     .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.5rem;
        padding: 1rem;
        margin-left: 6rem;
        display: flex;
        align-items: center;
     }
</style>

<div class="container mt-4">
    <!-- <h3 class="mb-4">All Listings</h3> -->

    <!-- Uncomment the form to enable "Create New Listing" button -->
    <!-- <form method="GET" action="/listings/new" class="mb-4">
        <button type="submit" class="btn btn-primary">Create New Listing</button>
    </form> -->
<div id="filter">
    <div class="filter">
        <div><i class="fa-solid fa-people-group"></i></div>
        <p>PPU Hubs </p>
       </div>
       <div class="filter">
        <div><i class="fa-solid fa-book-open"></i></i></div>
        <p>PPU Syllabus </p>
    </div>
    <div class="filter">
        <div><i class="fa-regular fa-newspaper"></i></div>
        <p>PPU NewsPaper Cutting </p>
       </div>
       <div class="filter">
        <div><i class="fa-solid fa-building-circle-arrow-right"></i></div>
        <p>PPU Study center </p>
    </div>
    <div class="filter">
        <div><i class="fa-regular fa-note-sticky"></i></div>
        <p>PPU Notice </p>
       </div>
       <div class="filter">
        <div><i class="fa-solid fa-rectangle-list"></i></div>
        <p>PPU College List </p>
    </div>
   <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
        <input 
        class="form-check-input" 
        type="checkbox" role="switch" 
        id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" 
        for="flexSwitchCheckDefault">
        Default switch checkbox input</label>
      </div>
   </div>
</div>
    <div class="row">
        <% if (allListings && allListings.length > 0) { %>
            <% for (let listing of allListings) { %>
                <div class="col-md-4 col-sm-6 mb-4">
                    <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
                        <div class="card h-100">
                            <img 
                            src="<%= listing.image.url %>" 
                            class="card-img-top" 
                            alt="<%= listing.title %> image" 
                            style="height: 20rem;" 
                            />
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <h5 class="card-title"><%= listing.title %></h5>
                                <p class="card-text">
                                   &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                                   <i class="tax-info">&nbsp; &nbsp;+18% GST </i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        <% } else { %>
            <div class="col-12 text-center">
                <p>No listings available at the moment. Please check back later.</p>
            </div>
        <% } %>
    </div>
</div>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",() => {
       let taxInfo = document.getElementsByClassName("tax-info");
       for(info of taxInfo) {
        if (info.style.display != "inline") {
            info.style.display = "inline";
        } else
       info.style.display = "none";
       }
    });
</script>